
  
  <nav class="navbar ">
    <div class="nav">
     <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      
      
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <div class="dropdown">
              <a class= "btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false"> <img src="svg/menu.svg"></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                  <li><a class="dropdown-item" href="#">Account</a></li>
                  <li><a class="dropdown-item" href="#">Cart</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                </ul>
            </div>
          </li>
          <li><a href="#">
            <img src="svg/shopping-cart.svg"/>
          </a></li>
        </ul>
  </nav>


  